{% extends "explore_base.html" %}

{% block content %}
  <h1>TailorTongue</h1>
  <p>Welcome to TailorTongue, a website developed by <em>Gloria Tao</em>!</p>
  <h2>Word you may like</h2>
  <p>Word lists:</p>
    <form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
  <ul>
 <table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Definition</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row.word }}</td>
      {% if row.defs %}
            <td>{{ row.defs }}</td>
        {% else %}
            <td>no definition</td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
  </ul>
{% endblock %}